
.picture-frame{
    width: 5em;
    float:right;
    padding:.6em;
}

.maincontent{
    padding:.5em;
    margin-left:10%;
    margin-right: 10%;
}


article{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 400px) {
    .maincontent {
        font-size:16px;
        padding:.5em;
        margin-left:0%;
        margin-right:0%;
    }
  }


