
.picture-frame{
    width: 5em;
    float:right;
    padding:.6em;
}

.maincontent{
    padding:.5em;
    margin-left:10%;
    margin-right: 10%;
    min-height: 90vh;
}

.contact-fields{
    font-size:.75em;
    line-height: 1em;
    text-align: center;
}

.interviews-field{
    
    font-size:.75em;
    line-height: 1em;
}


article{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;

    line-height:2em;
}

article > p {margin-bottom:1.5em}


@media screen and (max-width: 400px) {
    .maincontent {
        font-size:16px;
        padding:.5em;
        margin-left:0%;
        margin-right:0%;
    }
  }


