.grid {
    padding-top: 5em; 
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 0em;
    font-size:20px;
    font-family: 'Anton', sans-serif;
    font-family: 'Righteous', cursive;

  }
  
  
  
  
  .sidebar-left,
  .sidebar-right,
  .sidebar-middle{    
    background: #DCDBA8;
    color:white;
    padding: 0;
    clear: all;
  }
  
  
  .grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    height:2em;
  }
  
  