nav {
    margin: 0;
    overflow: hidden;
    background: var(--main-color);
    color: white;
    
	font-weight: 800;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size:1em;
    width: 100%;
}


nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
    font-size: 1em;
    padding-left: 1em;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--text-color);

}

nav ul li:hover a {
    background: var(--hover-color);
}