.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 0em;
    font-size: .6em;
    height: 0em;
}


footer>span {
    background: var(--main-color);
    color: white;
    padding: 0;
    height: 10em;
    

}


.grid>* {
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    height: 2em;
}

.liscence-info{
    color:"grey";
    text-align:center;
    grid-column-start: 1;
    grid-column-end:5;
    height:1em;
    color:grey;
}

[data-scroll] {
    transition: opacity 1s;
}

[data-scroll="in"] {
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0;
}