

.sec{
  padding:2em;
  -webkit-box-shadow: inset 0px -10px 39px 0px rgba(43,45,66,0.56);
-moz-box-shadow: inset 0px -10px 39px 0px rgba(43,45,66,0.56);
box-shadow: inset 0px -10px 39px 0px rgba(43,45,66,0.56);
  width:99;
  
  line-height:2em;
  color:var(--text-color);
  display: flex;
  align-items:top;

  height: auto;
  min-height: 100vh !important;

}

.vector-art{
  float:right;  
  color: var(--text-color);
}

.sec > span > p{
  
margin-right:25%;
font-size: .85em; 
color:var(--text-color);
}

.sec > span > a{
text-decoration: none;
color:var(--text-color);
}

.sec > span > a:hover{
text-decoration: none;

}


.main-list{
  
  height: auto;
  min-height: 100vh !important;
}

.nerd-sec{
background:#909097;
}

.about-sec{
background:#e87461;
}

.int-sec{
background:#197278;
}

.bio-sec{
background:#f15525;
}