body{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  height: 90vh;
}

li{
  font-size:.5em;
}


p{
  font-size:.55em;
  line-height: 2em;
}

h1{
  font-size: .80em;
}

h4{
  font-size: .70em;
}

h5{
  font-size: .5em;
}

.topbar {
  padding: 0px;
  margin: 0px;
  background: #f15525;
  width: 100%;
  font-size: 1em;
  color: white;
  font-family: 'Oswald', sans-serif;
  height: 1.75em;
  text-align: center;
  text-align-last: center;
  text-align: center;
  
}


.contact-fields{
  text-align: center;

}

.header-text{
  font-family: 'Oswald', sans-serif;
  font-size: .85em;
}

.fas{

  font-family: 'Oswald', sans-serif;
 
}

.tinyones{
  font-size:.5em;
}

.header-link {
  text-decoration: none;  
  color:white;
  
}

.picture-frame{
  width:20vw;
  float: right;
}

.audiobox {
  width: 40%;

}



.maincontent {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  
}


.contact-wrapper{

  font-family: 'Oswald', sans-serif;
  padding: 10px;
  
  color:white;
}
  