{{> indexheader}}


  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Anton" rel="stylesheet">
<div class="contact-wrapper maincontent">
<form name="contact" method="POST" netlify>
  <p>
    <label>The Interviewee  Name: <input type="text" name="interviewed" /></label>   
  </p>
  <p>
    <label>Your Name: <input type="text" name="author" /></label>
  </p>
  <p>
    <label>Audiofile <input type="file" name="audio" class="button1"></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit" class="button1">Send</button>
  </p>
</form>
</div>


    {{> footer}}