{{> articleheader}}

<body>
  <div class="maincontent">
    <h1>{{data.fields.title}}</h1>
    <img src="{{data.fields.picture.fields.file.url}}" class="picture-frame">
    <article>
      {{{contents}}}
    </article>
    <h3> Interviews: </h3>
    <span class="interviews-field">
      {{#each data.fields.theinterviews}}



      <a href="../{{this.fields.whoami}}/{{this.fields.slug}}">
        <h5>{{this.fields.title}}</h5>
      </a>
      {{/each}}

    </span>

    <div class="contact-fields">

      <h3> Contact: </h3>
      <span class="contact-field">
        {{#each data.fields.contact}}

        <p> {{this}} </p>
        {{/each}}
      </span>



    </div>
  </div>
</body>
{{> articlefooter}}