{{> indexheader}}

<body>
    <div class="maincontent">
        <h1><a id="About_1"></a>About</h1>
        <p>The following collection of stories and wisdom is direct oral history gathered from several Brothers of the
            Sacred Heart by students of this inaugural class focused on the history and charism of the Brothers.
            Ultimately our goal was to use individual interviews with Brothers to allow them to articulate their
            experiences in the schools where they served and communicate how their lives have been shaped by their
            commitment to glorify God as members of a religious community. We have been blessed to gather an incredible
            amount of information and stories not only from these interviews but also through in-class visits by
            Brothers, dinners at the Brothers’ residences, and independent research about the Brothers through books
            and documents already in existence. Our curriculum included a trip to St. Stanislaus where we gained more
            information about the Brothers’ history and legacy. We were fortunate to meet and spend time with the
            Brothers working there. Some may wonder why we are now choosing to take on this type of project. In other
            words, what was the impetus or rationale for this class? In short, this class was created in response to
            the reality that the physical presence of Brothers in the schools is diminishing. We believe we must take
            more deliberate action to ensure that students in Brothers’ schools are continuing to inherit the vision of
            Fr. Andre Coindre in their educational experience. This class creates an opportunity for students to be
            ambassadors of this vision by providing the means for telling stories that speak to the tangible ways
            Fr.Coindre’s vision has been lived.</p>

    </div>


    {{> footer}}