{{> indexheader}}

<body>


    <section class="sec about-sec">


        <span data-scroll>
            <h1>What is this?</h1>
            <p> &nbsp

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dignissim turpis. Curabitur aliquam
                turpis diam, vel consectetur ex ultricies quis. Sed gravida mi in vestibulum imperdiet. Morbi egestas
                augue ac scelerisque feugiat. Praesent hendrerit sagittis mi, et porttitor eros vehicula quis. Vivamus
                ac lorem ultrices, auctor dolor in, eleifend nibh. Proin vitae turpis et neque posuere efficitur.
                Vestibulum et convallis est. </p>
        </span>
    </section>


    <section class="sec int-sec">


        <span data-scroll>
            <h1>The interviews</h1>
            <p> &nbsp

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dignissim turpis. Curabitur aliquam
                turpis diam, vel consectetur ex ultricies quis. Sed gravida mi in vestibulum imperdiet. Morbi egestas
                augue ac scelerisque feugiat. Praesent hendrerit sagittis mi, et porttitor eros vehicula quis. Vivamus
                ac lorem ultrices, auctor dolor in, eleifend nibh. Proin vitae turpis et neque posuere efficitur.
                Vestibulum et convallis est. </p>
            <a href="interviews.html">            <h5> all the interviews...</h5> </a> 

        </span>
    </section>


    <section class="sec wiki-sec">


        <span data-scroll>
            <h1>The wikis</h1>
            <p> &nbsp

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dignissim turpis. Curabitur aliquam
                turpis diam, vel consectetur ex ultricies quis. Sed gravida mi in vestibulum imperdiet. Morbi egestas
                augue ac scelerisque feugiat. Praesent hendrerit sagittis mi, et porttitor eros vehicula quis. Vivamus
                ac lorem ultrices, auctor dolor in, eleifend nibh. Proin vitae turpis et neque posuere efficitur.
                Vestibulum et convallis est. </p>
            <a href="wiki.html">            <h5> the wiki entries...</h5> </a> 

        </span>s
    </section>


    <section class="sec nerd-sec">


        <span data-scroll>
            <h1>How this website was made</h1>
            <p> &nbsp

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dignissim turpis. Curabitur aliquam
                turpis diam, vel consectetur ex ultricies quis. Sed gravida mi in vestibulum imperdiet. Morbi egestas
                augue ac scelerisque feugiat. Praesent hendrerit sagittis mi, et porttitor eros vehicula quis. Vivamus
                ac lorem ultrices, auctor dolor in, eleifend nibh. Proin vitae turpis et neque posuere efficitur.
                Vestibulum et convallis est. </p>
        </span>
    </section>



    <script>
        ScrollOut();
    </script>



    {{> footer}}