{{> articleheader}}

<body>
  <div class="maincontent">
    <h1>{{data.fields.title}}</h1>

    <p class="mainparagraph">{{data.fields.information}} </p>

    <h4> Interviews: </h1>
    
      {{#each data.fields.theinterviews}}



        <a href="../{{this.fields.wxhoami}}/{{this.fields.slug}}">
          <h5>{{this.fields.title}}</h5>
        </a>
      {{/each}}
      
      <div class="contact-fields">

        {{#each data.fields.contact}}
        <h5> {{this}} </h5>

        {{/each}}


        {{contents}}
      </div>
  </div>
</body>
{{> footer}}