<footer class="grid">
  

  <span class="sidebar-left">
    MADE WITH: &ensp;
    <a href="https://www.contentful.com/">
    <img class="logo" src="assets/images/contentful_logo.png" alt="">
      </a> 
   <img class="logo" src="assets/images/netlify_logo.png" alt="">
  </span>

  <span class="sidebar-middle"> 
    <p class="middle-bar"> BY: <br> the Brothers of the Sacred Heart Class  </p>
  </span>

  <span class="sidebar-right">
    FOR: &ensp;
    <img class="logo" src="assets/images/bosh_logo.png" alt="">
  </span>


  <span class="liscence-info">
    lorem 
  </span>
  

</footer>
</body>  
</html>