<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Anton" rel="stylesheet">
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>

  
  <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" /> 
 

  <link rel="stylesheet" href="assets/css/master_index.css">
  

  
</head>

<body>
<nav>
  <ul>
    <li><a href="index.html"> HOME  </a></li>
    <li><a href="bios.html"> BIO  </a></li>
    <li><a href="interviews.html"> INTERVIEWS </a></li>    
  </ul>
</nav>
